<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href='./css/styles.css'>
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p> Application is Created by 
                <a href="https://www.linkedin.com/in/durga-abhist-sathuluri-3298a012a/" target="_blank">Abhist</a>,
                Provides weather details on specified location.
            </p>
            <img class="portrait" src="/img/me.png">
        </div>

        {{>footer}}
    </body> 
</html>